# JUMPlus Python Project 3

## Linear Regression with the Iris Dataset

### by Nicholas Crossman

This time, we've been given the `Iris` dataset, which contains a lot of data on iris flowers. 
We'll use it to practice using linear regression to get more information from a dataset.

First, we need to import a few libraries.

In [2]:
import pandas as pd
import matplotlib as plt
import seaborn as sb
import sklearn

Next, we read in the dataset into a DataFrame.

In [3]:
data = pd.read_csv("Iris.csv")

As before, let's show the first 5 entries to see what we're dealing with.

In [4]:
data.head().style